@mixin font($style, $weight, $size) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
}

%common-font-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

%common-font-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}

