@mixin font($style, $weight, $size, $color) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

// @mixin player {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
@mixin dplayer($display: flex, $justify: space-between, $align: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

%common-font-1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

%common-font-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
}
